/*GENERAL STYLES*/
/*:root {*/

/*}*/
body {
    background-color: rgba(24,30,36);
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}

/*NAVIGATION SECTION STYLES*/
.nav-logo{
    color: #000;
}
.nav-link {
    color: #000;
}

.nav-link:hover {
    color: #495057;
}

.dropdown-menu-dark{
    color: #FFF;
    background-color: #000;
}

/*MAIN, MOVIE CARDS, OFFCANAVS, AND MODAL SECTION STYLES*/
.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.img-loading{
    border-radius: 5px;
}
.img-loading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10rem auto;
    width: 400px;
    height: 350px;
}
.card-custom{
    background-color: #868e96;
    color: #fff;
    text-shadow: 1px 1px 0 #000 ;;
    box-shadow: rgba(242, 242, 242) 2px 8px 2px;
    /*#f1f3f5*/
}
.jump {
    transition: all .2s ease-in-out;
}
.jump:hover {
    transform: scale(1.05);
}

.comments{
    padding-left: 1rem ;
    padding-right: 1rem;
}

.title, .rating, .released, .user-rating, .director, .genre, .plot {
    text-align: center;
    margin: 0.5rem auto;
    word-wrap: break-word;
}
.plot{
    font-weight: 500;
}
.plot-data{
    font-style: italic;
}
.modal-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5rem auto;
}
/*.add-modal-btn, .edit-modal-btn,.delete-modal-btn {*/
/*    width: 17rem;*/
/*    height: 4rem;*/
/*}*/
.search-menu{
    text-align: center;

}
#search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0.5rem;
    width: 5rem;
    height: 2.4rem;
    color: #000;
    background-color: #fff;
}

.add-modal-btn:hover, .edit-modal-btn:hover, .delete-modal-btn:hover{
    background-color: #ced4da;
}
/*.add-modal-btn, .edit-modal-btn,.delete-modal-btn:hover{*/
/*    opacity: 0.8;*/
/*}*/
#search-btn:hover{
    color: #FFF;
    background-color: #000;
}

/*FOOTER SECTION STYLES*/

.footer-hr{
    color:#fff ;
    margin: 5rem auto 0.5rem auto;
}

.footer-logo:hover{
    color: #fff;
}

a{
    color: #fff;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: #495057;
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

.icon-custom{
    font-size: 1rem;
}

/*MEDIA QUIRES*/

/*@media screen and (min-width: 200px) and (max-width: 576px){*/
/*    .modal-container{*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        justify-content: space-evenly;*/
/*    }*/

/*    .add-modal-btn, .edit-modal-btn,.delete-modal-btn{*/
/*        margin: 1rem auto;*/
/*        width: 17rem;*/
/*        height: 5rem;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 577px) and (max-width: 767px){*/
/*    .modal-container{*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        justify-content: space-evenly;*/
/*    }*/

/*    .add-modal-btn, .edit-modal-btn,.delete-modal-btn{*/
/*        margin: 1rem auto;*/
/*        width: 25rem;*/
/*        height: 7rem;*/
/*    }*/
/*}*/


/*@media screen and (min-width: 768px) and (max-width: 992px){*/
/*    .modal-container{*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        justify-content: space-evenly;*/
/*    }*/

/*    .add-modal-btn, .edit-modal-btn,.delete-modal-btn{*/
/*        margin: 1rem auto;*/
/*        width: 20rem;*/
/*        height: 5rem;*/
/*    }*/
/*}*/
