/*GENERAL STYLES*/
:root{
    --main-bg: #181e24d9;
    --secondary-bg: #1b2328d9;
    --aux-color-1: #F3F3F3;
    --aux-color-2: #2185D5;
    --nav-link-color: #000;
    --movie-stars: #CFB87C;
}
*{
    margin: 0;
    padding: 0;
}
 body {
    background-color: var(--main-bg);
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}

 .page-wrapper{
     background-color: var(--main-bg);
 }

/*NAVIGATION SECTION STYLES*/
.bg-body-tertiary{
    background-color: rgba(24,30,36) !important;
}
.navbar-toggler{
    background-color: var(--aux-color-1);
}
.navbar-toggler:hover{
    background-color: var(--movie-stars);;
}
.nav-logo{
    color: var(--aux-color-1);
    font-size: 2rem;
}
.nav-logo:hover{
    color: var(--aux-color-1);
}
.nav-link {
    color: var(--nav-link-color);
}

.nav-link:hover {
    color: var(--aux-color-1);
}

.dropdown-menu-dark{
    color: var(--aux-color-1);
    background-color: var(--aux-color-1);
}

/*MAIN, MOVIE CARDS, OFFCANAVS, AND MODAL SECTION STYLES*/
.movie-container{
    background-color: var(--main-bg);
}
.hero-container{
    /*background-size: cover !important;*/
    /*background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 73%, rgba(0,0,0,0.65) 100%), url("images/popcorn.jpeg") no-repeat center center scroll;*/
    /*background-color: rgba(248,249,250, 1);*/
    background: url("images/popcorn.jpeg");
    background-size: contain;
}
.hero-btn{
    color: var(--aux-color-1);
    background-color: var(--aux-color-2);
}
.hero-btn:hover{
    border: 1px solid var(--aux-color-1);
    background-color: var(--secondary-bg);
    color: var(--aux-color-2);
}
.coming-soon{
    color: var(--aux-color-1);
    margin: 3rem auto;

}
.carousel-img{
    object-fit: scale-down;
    width: 100%;
    max-height: 75vh;
}
.carousel slide{
    overflow: hidden;
}
.now-playing{
    color: var(--aux-color-1);
    margin: 5rem auto;
}
.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.img-loading{
    border-radius: 5px;
}
.img-loading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10rem auto;
    width: 400px;
    height: 350px;
}
.card-custom{
    background: var(--aux-color-1);
    background: radial-gradient(circle, var(--aux-color-1) 0%, rgba(232,232,232,0.5452556022408963) 84%);
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
    box-shadow: rgba(242, 242, 242) 2px 8px 2px;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    color: #eee;
    /*#f1f3f5*/
}

/*.card-custom:hover .info {*/
/*    display: block;*/
/*}*/
.information-icon{
    display: block;
    justify-content: center;
    align-items: center;
    margin: 1.3rem auto;
}

.display-info{
    display: block;
}

.info {
    background-color: #101020;
    border-radius: 10px;
    position: absolute;
    padding: 10px;
    font-size: 2rem;
    top: 0px;
    text-align: left;
    cursor: pointer;
    left: 0px;
    width: 35rem;
    height: 25rem;
    z-index: 2;
    box-shadow: 0 0 2px 1px #aaa;
    display: none;
}

.info p {
    display: inline-block;
    margin: 2px;
    font-size: .7em;
}

.info span {
    font-size: .9em;
    color: #8080d8;
}

.jump {
    transition: all .2s ease-in-out;
}
.jump:hover {
    transform: scale(1.05);
}

.comments{
    padding-left: 1rem ;
    padding-right: 1rem;
}

.title, .rating, .released, .user-rating, .director, .plot {
    text-align: center;
    margin: 0.5rem auto;
    word-wrap: break-word;
}
.movie-stars{
    text-align: center;
    color: var(--movie-stars);
}
.plot{
    font-weight: 500;
}
.plot-data{
    font-style: italic;
}
.modal-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5rem auto;
}
.search-menu{
   text-align: center;
}

.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

#search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0.5rem;
    width: 6rem;
    height: 3rem;
    color: var(--aux-color-1);
    background-color: var(--aux-color-2);
}
#search-btn:hover{
    background-color: var(--secondary-bg);
    color: var(--aux-color-2);
    border: 1px solid var(--aux-color-1);
}

.add-modal-btn:hover, .edit-modal-btn:hover, .delete-modal-btn:hover{
    background-color: var(--aux-color-1);
}

/*FOOTER SECTION STYLES*/

footer{
    background-color: var(--secondary-bg);
    color: var(--aux-color-1);
}

.footer-hr{
    color:var(--aux-color-1);
    margin: 5rem auto 0.5rem auto;
}

.footer-logo:hover{
     color: var(--aux-color-1);
}

a{
    color: var(--aux-color-1);
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: var(--aux-color-1);
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

.icon-custom{
    font-size: 1rem;
}

/*MEDIA QUERIES*/

@media screen and (min-width: 200px) and (max-width: 576px){
    .nav-logo{
        text-wrap: normal;
        word-wrap: normal;
        font-size: 1.3rem;
    }
    .img{
        margin: 0 auto;
        max-width: 100%;
    }
    .classic-movie-poster{
        margin: 5rem auto 0 auto;
    }
    .classic-movie{
        text-align: center;
    }
    .hero-container{
        background: url("images/popcorn.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .hero-btn{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto auto;
    }

    .hero-btn-save{
        margin-bottom: 1rem;
    }
    .search-bar{
        width: 90%;
    }
    .info{
        visibility: hidden ;
    }
    footer{
        text-align: center;
    }

    .social-media-icons{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (min-width: 577px) and (max-width: 767px){
    .nav-logo{
        text-wrap: normal;
        word-wrap: normal;
        font-size: 1.3rem;
    }
    .img{
        margin: 0 auto;
        max-width: 100%;
    }
    .classic-movie-poster{
        margin: 5rem auto 0 auto;
    }
    .classic-movie{
        text-align: center;
    }
    .hero-container{
        background: url("images/popcorn.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .hero-btn{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto auto;
    }

    .hero-btn-save{
        margin-bottom: 1rem;
    }
    .info{
        font-size: 1.4rem
    ;
        width: auto;
        height: auto;
    }
    .search-bar{
        width: 80%;
    }
    footer{
        text-align: center;
    }
    .social-media-icons{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media screen and (min-width: 768px) and (max-width: 992px){
    .nav-logo{
        text-wrap: normal;
        word-wrap: normal;
        font-size: 1.3rem;
    }
    .img{
        margin: 0 auto;
        max-width: 100%;
    }
    .classic-movie-poster{
        margin: 5rem auto 0 auto;
    }
    .classic-movie{
        text-align: center;
    }
    .classic-movie-btn-container{
        display: flex;
        justify-content: center !important;
        align-items: center;
    }
    .hero-btn{
        margin-bottom: 1rem;
    }
    .hero-container{
        background: url("images/popcorn.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .hero-btn-save{
        margin-bottom: 1rem;
    }
    .search-bar{
        width: 80%;
    }
    .info {
        background-color: #101020;
        border-radius: 10px;
        position: absolute;
        padding: 10px;
        font-size: 2rem;
        top: 0px;
        text-align: left;
        cursor: pointer;
        left: 0px;
        width: auto;
        height: auto;
        z-index: 2;
        box-shadow: 0 0 2px 1px #aaa;
        display: none;
    }
    footer{
        text-align: center;
    }
    .social-media-icons{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media screen and (min-width: 1500px) and (max-width: 2500px){
    .search-bar{
        max-width: 60%;
    }
}
